<form
  class="login-form"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <h1>Регистрация</h1>
  <label class="control-label">
    Почта
    <input
      formControlName="email"
      class="login-input" type = "text" placeholder="Введите почту">
  </label>
  <label class="control-label">
    Пароль
    <input
      formControlName="password"
      class="login-input" type = "text" placeholder="Введите пароль">
  </label>
  <label class="control-label">
    Имя пользователя
    <input
      formControlName="username"
      class="login-input" type = "text" placeholder="Введите имя пользователя">
  </label>
  <button class="btn" type="submit">Зарегистрироваться</button>
</form>
